/* Stylesheet by Todd Burciaga, 2020 */

/* body {
    background-color:black;
} */

.axis path,
.axis line {
    fill: none;
    stroke: black;
    stroke-width: 1px;
    shape-rendering: crispEdges;
}

.axis text {
    font-family: sans-serif;
    font-size: 0.9em;
}

.title {
    font-family: sans-serif;
    font-size: 1.5em;
    font-weight: bold;
}

.popLine {
    font-family: sans-serif;
    font-size: 0.9em;
}

.nameLine {
    font-family: sans-serif;
    font-size: 0.9em;
    font-weight: bold;
}